#bg_img {
    &-1 {
        background-image: url("https://derpicdn.net/img/2014/12/19/787787/large.png");
    }
    &-2 { background-image: url("https://derpicdn.net/img/view/2017/1/9/1335871.png");}

    &-hero { background-image: url("https://papermc.io/images/jumbotron.png");}
}